<div class="formulario">
  @if (idContacto()) {
    <h2>Editar contacto</h2>
  } @else {
    <h2>Nuevo contacto</h2>
  }
  <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
    <div class="campo">
      <label for="first-name">Nombre</label>
      <input id="first-name" name="firstName" type="text" ngModel required="true" minlength="2" maxlength="20">
    </div>
    <div class="campo">
      <label for="last-name">Apellido</label>
      <input id="last-name" name="lastName" type="text" ngModel maxlength="20">
    </div>
    <div class="campo">
      <label for="phone">Teléfono</label>
      <input id="phone" name="number" type="text" ngModel required="true" minlength="3" maxlength="30">
    </div>
    <div class="campo">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" ngModel maxlength="40">
    </div>
    <div class="campo">
      <label for="address">Dirección</label>
      <input id="address" name="address" type="text" ngModel minlength="5">
    </div>
    <div class="campo">
      <label for="company">Compañía</label>
      <input id="company" name="company" type="text" ngModel minlength="2">
    </div>
    <div class="campo">
      <label for="image">URL Imagen</label>
      <input id="image" name="image" type="text" ngModel minlength="10">
    </div>
    <div class="campo">
      <label for="favourite">Favorito</label>
      <input id="favourite" name="isFavorite" type="checkbox" ngModel>
    </div>
    @if (idContacto()) {
    <button [disabled]="newContactForm.invalid || isSubmitting">Editar</button>
  } @else {
    <button [disabled]="newContactForm.invalid || isSubmitting">+</button>
  }
  </form>
</div>
