<div class="register-container">
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <h2>Registrarse</h2>

    <div class="label-input">
      <label for="firstName">Nombre</label>
      <input id="firstName" name="firstName" type="text" ngModel #firstName="ngModel" required autocomplete="firstName" placeholder="Nombre">
      @if (firstName.invalid && !firstName.pristine) {
        <p class="error">Debe colocar un nombre.</p>
      }
    </div>

    <div class="label-input">
      <label for="lastName">Apellido</label>
      <input id="lastName" name="lastName" type="text" ngModel #lastName="ngModel" required autocomplete="lastName" placeholder="Apellido">
      @if (lastName.invalid && !lastName.pristine) {
        <p class="error">Debe colocar un apellido.</p>
      }
    </div>

    <div class="label-input">
      <label for="email">Correo electrónico</label>
      <input id="email" name="email" type="email" ngModel #email="ngModel" required autocomplete="email" placeholder="Correo electrónico">
      @if (email.invalid && !email.pristine) {
        <p class="error">Debe colocar un correo electrónico.</p>
      }
    </div>

    <div class="label-input">
      <label for="password">Contraseña</label>
      <input id="password" name="password" type="password" ngModel #password="ngModel" minlength="4" autocomplete="new-password" placeholder="Contraseña">
      @if (password.invalid && !password.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
      }
    </div>

    <div class="label-input">
      <label for="password2">Repite la contraseña</label>
      <input id="password2" name="password2" type="password" ngModel #password2="ngModel" minlength="4" autocomplete="new-password" placeholder="Repite la contraseña">
      @if (password2.invalid && !password2.pristine) {
        <p class="error">Las contraseñas no coinciden.</p>
      }
    </div>

    <button class="register-button" type="submit">Registrarse</button>

    @if (isLoading) {<app-spinner></app-spinner>}

    <div class="extra-link">
      <p>¿Ya tenés cuenta?</p>
      <a routerLink="/login">Iniciá sesión</a>
    </div>
  </form>
</div>