*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0; 
  height: 100vh; 
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZWdyYWRhZG98ZW58MHx8MHx8fDA%3D);
}


.login-form{
    width: 400px;
    height: 400px;   
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.login-form h4{
    font-size: 22px;
    margin-bottom: 40px;
    
}

.controls{
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

}

.login-form p{
    height: 40px;
    text-align: center;
    font-size: 18px ;
    line-height: 30px;
}

.login-form a{
    color: white;
    text-decoration: none;
}

.login-form a:hover{
color: white;
text-decoration: underline;
}

.boton-login{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px, 0;
    font-size: 16px;
    margin-top: 40px;
}

